@import "../node_modules/augmented-ui/augmented-ui.min.css";

body {
    background-color: rgb(58, 58, 58);
    margin-left: 50px;
    margin-right:50px;
  }
h1 {
  color: blue;
}
p {
  color: red;
}

form {
  margin-top: 15px;
}
label {
  --aug-clip-tl1: initial;
  --aug-round-tr1: initial;
  --aug-clip-br1: initial;
  --aug-round-bl1: initial;
  --aug-border: initial;
  --aug-inlay: initial;
  --aug-border-all: 4px;
  --aug-inlay-all: 2px;
  --aug-border-bg: rgb(219, 29, 219);
  --aug-tl1: 40px;
  --aug-br1: 40px;
  --aug-tr1: 10px;
  --aug-bl1: 10px;
}

#camera {
  --aug-clip-tl1: initial;
  --aug-round-tr1: initial;
  --aug-clip-br1: initial;
  --aug-round-bl1: initial;
  --aug-border: initial;
  --aug-inlay: initial;
  --aug-border-all: 4px;
  --aug-inlay-all: 2px;
  --aug-border-bg: rgb(219, 29, 219);
  --aug-tl1: 40px;
  --aug-br1: 40px;
  --aug-tr1: 10px;
  --aug-bl1: 10px;
  height: 480;
  width: 640;
}

/*https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load*/
@keyframes slideInFromCenter {
  0% {
      transform: scale(0.2, 1) translateX(75%);
  }
  100% {
      transform: scale(1,1) translateX(0);
  }
}

#starter {
  background-color: blueviolet;
  animation: 1s ease-out 2s 1 slideInFromLeft;
  padding-left: 6px;
}

#code-starter {
  color: black;
  text-align: left;
}
#main {
  display: flex;
}
#camera-box {
  flex: 50%;
}

#movement-box {
  flex:50%
}