{% load static %}
<link href = "{% static 'CSS/style.css' %}" rel="stylesheet" type="text/css">
<!DOCTYPE html>
<html>
    <head>
        <title>Camera Calibration</title>
    </head>
    <body>
        <div id="camera-box">
            <div id="camera">
                <!-- metto la vista dello streaming video -->
                <img src="{% url 'camera_calibration' %}?">
            </div>
        </div>
        <div id ="button">
            <button id = "save" class = "cyberpunk disabled"  disabled="disabled">SAVE</button>
            <script type="text/javascript">
                document.getElementById("save").onclick = function () {
                  var protocol  = window.location.protocol;
                  var host      = window.location.host;
                  var pathname  = window.location.pathname;
                  location.href = protocol + "//" + host + pathname + "?save";
                };
              </script>
        </div>
    </body>
</html>